@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}

@if(result.Succeeded)
{
    <div class="dropdown">
        <a class="btn btn-outline-danger dropdown-toggle" href="#" id="managedropdownmenu" data-toggle="dropdown">
            Manage
        </a>

        <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
            <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">
                Database
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">
                Quan ly lien he
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">
                Quan ly Role(Vai tro)
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">
                Quan ly thanh vien 
            </a>

        </div>
    </div>
}
