@model string
@{
    Layout = "_Layout";
    
}

<div class="card bg-primary text-white">
    <h1 class="card-header">Xin chao @Model</h1>
    <div class="card-body">
    <p class="card-text">
        Ban dang tim hieu View.cshtml trong ASP.NET
    </p>
</div>

<hr>
@this.Path