@model AppMVC01.Models.ProductModel
@{
    var product = ViewData["product"] as ProductModel;
}
<p>@ViewData["Title"] </p>
<div class="card bg-danger text-white">
<h1 class="card-header">Xin chao @product.Name</h1>
<div class="card-body">
    <p class="card-text">
        Gia san pham : @product.Price
    </p>
</div>
