@{
    ViewData["Title"] = "Xoa Db";
}

<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger">Co chac chan xoa?</p>

<form method="post">
    <button type="submit" class="btn btn-danger">Xoa DB</button>
</form>

<hr>
<a asp-action="Index">Quan ly DB</a>