@page "/aboutrazor.html"

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h1>Gioi thieu ve Razor</h1>
<p>
    Razor la mot template engine trong .NET , no la TEMPLATE ENGINE mac dinh cua 
    ASP.NET MVC , co chuc nang render dung HTML tu cac view (.cshtml)
    View(.cshtml) cho phep viet HTML va nhung code C#
</p>